.top {
  padding: 40px 15px;
}

/****************
  svg
****************/
.chart{
  background-color: lightgray;
  padding: 10px;
  width: 440px;
  height: 100px;
}
.chart rect {
  fill: steelblue;
}
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
